.border {
	position: relative;

	&::after {
		position: absolute;
		content: '';
		display: block;
		top: 50%;
		right: 0;
		height: 30px;
		transform: translateY(-50%);
		width: 0.8px;
		background-color: var(--gray-300);
	}
}

.children-tab-item {
	position: relative;

	&:hover {
		background: var(--ebebeb);
	}

	&::before {
		position: absolute;
		content: '';
		display: none;
		background: var(--ddd);
		height: calc(100% + 1px);
		width: 50px;
		z-index: 1;
	}
}

.children-tab-item.after {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

	&::before {
		display: block;
		left: 100%;
	}
}

.children-tab-item.before {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

	&::before {
		display: block;
		right: 100%;
	}
}

.children-tab-item.hide-border {
	&::after {
		display: none;
	}

	.item-background {
		position: absolute;
		top: 50%;
		left: -3px;
		height: 30px;
		transform: translateY(-50%);
		width: 2px;
		background-color: white;
	}
}

.children-tab-item.searching {
	&:hover {
		background: var(--ddd);
	}

	.item-background {
		background-color: var(--ebebeb);
	}
}
