:root {
	--primary: #ff385c;
	--primary-gradient: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
	--header-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
	--ddd: #ddd;
	--ebebeb: #ebebeb;
}
