@import './custom/index.scss';
@import './responsive/index.scss';
@import './_variables.css';

body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	font-weight: normal;
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

.border-rounded {
	border-radius: 99999px;
}

.horizontal-center {
	left: 50%;
	transform: translateX(-50%);
}

.vertical-center {
	top: 50%;
	transform: translateY(-50%);
}

.object-cover {
	object-fit: cover;
}

.bg-surface-d {
	background: var(--surface-d);
}
