@import './custom/index.scss';
@import './responsive/index.scss';

body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	font-weight: normal;
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

.border-rounded {
	border-radius: 99999px;
}

.absolute-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.object-cover {
	object-fit: cover;
}
