.date {
	&:hover {
		border-radius: var(--chakra-radii-full);
		background-color: var(--chakra-colors-gray-900);
		color: var(--chakra-colors-white-900);
	}

	&::after {
		content: '';
		display: none;
		position: absolute;
		height: 100%;
		right: 0;
		top: 0;
		width: 25px;
		background-color: var(--chakra-colors-blackAlpha-50);
		color: var(--chakra-colors-gray-900);
	}

	&::before {
		content: '';
		display: none;
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		width: 25px;
		background-color: var(--chakra-colors-blackAlpha-50);
		color: var(--chakra-colors-gray-900);
	}
}

.border {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	left: 50%;
	top: 50%;

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		background-color: transparent;
		border: 1px solid var(--chakra-colors-gray-900);
		border-radius: 9999px;
		display: block;
		z-index: -1;
	}
}

.date.date-no-bg:not(.range-start):not(.range-end) {
	&:hover {
		border-radius: 0;
		background-color: transparent;
		color: var(--chakra-colors-gray-900);
	}
}

.date.date-no-bg.hover:not(.range-start):not(.range-end) {
	&:hover {
		border-radius: 0;
		background-color: var(--chakra-colors-blackAlpha-50);
		color: var(--chakra-colors-gray-900);
	}
}

.date-no-bg:not(.range-end):not(.range-start) .border {
	display: block;
}

.hover-start,
.range-start:not(.range-end) {
	&::after {
		display: block;
	}
}

.hover-end,
.range-end:not(.range-start) {
	&::before {
		display: block;
	}
}

.hover,
.hover-start,
.hover-end,
.range-start,
.range-end {
	background-color: var(--chakra-colors-gray-900);
	color: var(--chakra-colors-white-900);
	border-radius: var(--chakra-radii-full);
}

.hover:not(.hover-start):not(.hover-end) {
	background-color: var(--chakra-colors-blackAlpha-50);
	color: var(--chakra-colors-gray-900);
	border-radius: 0;
}

.hover.last-day .bg-linear-right,
.range-start .bg-linear-right,
.range-end .bg-linear-right,
.hover-end .bg-linear-right,
.hover-start .bg-linear-right {
	display: block;
}

.hover.first-day .bg-linear-left,
.range-end .bg-linear-left,
.range-start .bg-linear-left,
.hover-end .bg-linear-left,
.hover-start .bg-linear-left {
	display: block;
}
